@font-face {
  font-family: Inconsolata;
  src: url("./fonts/Inconsolata/Inconsolata-VariableFont_wdth,wght.ttf");
  font-display: swap;
}

body,
input {
  font-family: Inconsolata, monospace;
}

/* Mobile first */
html,
body {
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: stretch;
  margin: 0;
}

h1 {
  font-size: 2.5rem;
  margin: 16px 8px;
  justify-self: center;
}

main {
  display: grid;
  grid-template-rows: 1fr auto;
  justify-items: stretch;
  grid-row-gap: 16px;
}

.BigCanvas {
  display: grid;
  justify-content: center;
}

canvas {
  cursor: crosshair;
}

.Controls {
  margin: 0 1rem;
  display: grid;
  grid-template-areas:
    "lab rgb"
    "horiz horiz";
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 16px;
}

.ControlsLab {
  grid-area: lab;
}

.ControlsRgb {
  grid-area: rgb;
}

.ControlsLab,
.ControlsRgb {
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 4px;
}

.IntField {
  display: grid;
  grid-template-columns: 1ch 9ch 1fr;
  gap: 16px;
  align-items: center;
}

.ControlsHorizontal {
  grid-area: horiz;

  display: grid;
  grid-template-columns: auto auto;
  gap: 12px;
  align-items: center;
}

.Swatch {
  width: 4em;
  height: 4em;
  background-color: red;
}

.RgbHex {
  display: grid;
  grid-template-columns: 12ch auto;
  gap: 4px;
}

.CopyButton {
  width: 1.5rem;
  height: 1.5rem;
}

.footer {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  gap: 16px;
  margin: 16px 8px;
}

/* Mobile large, 620px */
@media screen and (min-width: 38.75em) {
}

/* Tablet Small 740px */
@media screen and (min-width: 46.25em) {
  h1 {
    font-size: 2em;
  }
}

/* 16.3 Tablet Large 880px */
@media screen and (min-width: 55em) {
}

/* Desktop Small 955px */
@media screen and (min-width: 59.6875em) {
}

/* Desktop Medium 1100px */
@media screen and (min-width: 68.75em) {
}

/* Desktop Large 1240px */
@media screen and (min-width: 77.5em) {
}

/* Desktop X-Large 1403px */
@media screen and (min-width: 87.6875em) {
}
